@model IEnumerable<RolesIS.Models.Compra>
@{
    ViewBag.Title = "Index";
}

<br />
<h4>Mis Compras</h4>

<table class="table">

    <tr>
        <th>Producto</th>
        <th>Estado</th>
        <th>Proveedor</th>
        <th>Cantidad</th>
        <th>Importe</th>
        <th>Cuenta</th>
    </tr>
    @foreach (var item in Model)
    {
        var estado = item.Estado == RolesIS.Models.ShopStatus.InCart ? "En carrito" : "Pagado";
        <tr>
            <td>@item.Producto.Nombre</td>
            <td>@estado</td>
            <td>@item.Producto.Anunciante.UserName</td>
            <td>@item.Cantidad</td>
            <td>@item.Importe</td>
            <td>@item.Cuenta</td>
        </tr>
    }

</table>

