@model RolesIS.Models.Producto

@{
    ViewBag.Title = "Details";
}

<br/>
<h2>Detalles</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Proveedor")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Anunciante.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cantidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>




    </dl>
    
    @Html.ActionLink("Comprar", "Comprar", new { idProducto = Model.ProductoID}, new { @class = "glyphicon-link"})
    <br />
    <br />
</div>
<p>
    
    @Html.ActionLink("Regresar", "Index")
</p>
